.table {
  margin-top: 24px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--dark-500);
}

.table th div.sorted {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: var(--light-100);
    cursor: pointer;
  }
}

.table th,
.table td {
  padding: 12px 24px;
  text-align: left;
}

.table td:last-child {
  width: 50px;
  text-align: right;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid var(--dark-500);
}
