.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--light-100);
  width: 100%;
  margin: 0;
  position: relative;
  max-height: 70px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  &.expanded {
    max-height: 170px;
    overflow-y: auto;
    word-break: break-word;
    margin-top: 15px;
    transition: max-height 0.3s ease-in-out;

    &::-webkit-scrollbar {
      width: 4px;
      display: block;
    }

    &::-webkit-scrollbar-track {
      background: var(--dark-500);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--dark-100);
      border-radius: 2px;

      &:hover {
        background: var(--dark-300);
      }
    }
  }
}

.button {
  background: none;
  border: none;
  color: var(--accent-500);
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
  display: inline;
  transition: color 0.2s ease;

  &:hover {
    color: var(--accent-700);
  }
}