.table {
  margin-top: 24px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--dark-500);
}

.table thead {
  background-color: var(--dark-500);
}

.headerCell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.noSortHeaderCell {
  cursor: default;
}

.sortableLabel {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  width: 100%;
  user-select: none;
  transition: opacity 0.2s;
  
  &:hover {
    opacity: 0.8;
  }
}

.table th,
.table td {
  padding: 12px 24px;
  text-align: left;
}

.table th {
  font-weight: 600;
}

.table td:last-child {
  width: 200px;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid var(--dark-500);
}
